<footer>
    <div class="footer__inner align-items-center">
        <div class="col-md-1 flex-column align-items-center justify-content-start">
        <a href="./index.html" class="logo"><img src="./assets/images/peon.png" alt="Logo"></a>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <nav>
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link text-decoration-none" href="./index.html">Inicio</a></li>
              <li class="nav-item"><a class="nav-link text-decoration-none" href="./miembros.html">Miembros</a></li>
              <li class="nav-item"><a class="nav-link text-decoration-none" href="./checkmate2022.html">CheckMate</a></li>
              <li class="nav-item"><a class="nav-link text-decoration-none" href="./inscribete.html">Inscríbete</a></li>
            </ul>
        </nav>
      </div>
      <div class="col-md-1 d-flex align-items-center justify-content-end"> 
        <div class="footer__social-icons">
            <a href="https://github.com/albbmg/HerramientasHTMLCSSllPEC2" target="_blank"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-md-12 d-flex align-items-center justify-content-center"> 
        <p>&copy; 2023 Desarrollado por Alba Muñoz García</p>
      </div>
    </div>  
  </footer>
  