<header class="header">
    <div class="container-fluid header__inner">
      <div class="row align-items-center">
        <div class="col-md-6 col-6 d-flex align-items-center justify-content-start">
          <a href="./index.html" class="logo"><img src="./assets/images/peon.png" alt="Logo" class="header__logo"></a>
        </div>
        <div class="col-md-6 col-6 d-flex align-items-center justify-content-end">
          <nav class="navbar navbar-expand-md navbar-light">
            <button class="navbar-toggler navbar-toggler-right w-100 collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar">
              <ul class="navbar-nav w-100 justify-content-end">
                <li class="nav-item active"><a class="nav-link" href="./index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="./miembros.html">Miembros</a></li>
                <li class="nav-item"><a class="nav-link" href="./checkmate2022.html">CheckMate</a></li>
                <li class="nav-item"><a class="nav-link" href="./inscribete.html">Inscríbete</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
</header>
