@use "sass:color";
@import "functions";

/* Fuentes */
$primary-font: 'Montserrat', sans-serif;

/* Peso de la fuente */
$font-weights: (
  text: normal,
  mild: 500,
  title: bold,
);

/* Colores principales */
$colors: (
  primary-color: #000,
  secondary-color: #FFF,
  contrast-color: #f00, 
  gradient: gradient(#f00, #FFF, 45deg),
); 

/* Márgenes y espaciados */
$margins: (
  small-space: 1rem,
  mid-space: 2.5rem,
  large-space: 5rem,
);
$container-width: 1440px;

/* Estilos texto */
@mixin main-title-styles {
  font-size: 5em;
  line-height: 1.5;
  color: map-get($colors, primary-color);
  text-align: center; 
  font-weight: map-get($font-weights, title);
}

@mixin secondary-title-styles {
  font-size: 3em;
  line-height: 1.5;
  color: map-get($colors, primary-color);
  text-align: left; 
  font-weight: map-get($font-weights, mild);
}

@mixin enfasis-title-styles {
  display: inline-block; 
  font-size: 2em;
  line-height: 1;
  color: map-get($colors, primary-color);
  text-align: left; 
  font-weight: map-get($font-weights, mild); 
  border-bottom: 2px solid map-get($colors, contrast-color);
  padding-bottom: 5px;
}

@mixin text-styles {
  font-size: 1.2em;
  line-height: 1;
  color: map-get($colors, primary-color);
  text-align: left; 
  font-weight: map-get($font-weights, mild);
}

/* Ancho de elementos */
$element-widths: (
  full: responsive-width(large),
  medium: responsive-width(medium),
  small: responsive-width(small),
);

/* Border-radius */
$border-radius-style: (
  images: 20px, 
  buttons: 100px,
);

/* Botones */
$button-style: button-styles(10px 60px 10px 60px, map-get($colors, primary-color), map-get($colors, secondary-color), uppercase, 16px, normal, 10px, none, all 0.5s ease);
